/* CSS declarations go here */
/** {
  box-sizing:content-box;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}*/

/**
 * Responsive image
 */
.upload-cell {
  margin: 1rem 1rem 2rem 1rem;
  /*max-height:400px;*/
  /*width:auto;*/
  /*max-width:400px;*/
  /*display:inline-block;*/
  /*float:left;*/
  /*object-fit: contain;*/
  text-align:center;
}

.upload-cell img, .upload-cell video {
  max-width:100%;
  height:auto;
  opacity: 0;
  transition: opacity .3s ease-in;
}

/*@media (max-width: 480px) {
  .upload-cell {
    width: 100% !important;
    margin:0;
  }
}*/

.fit-image-wrapper {
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  width:100%;
  height:100%;
}

/**
 * Placeholder
 */
#placeholder, .dropzone-wrapper {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;

  /* style */
  font-size: 2vw;
  background: #fff;
  font-family: sans-serif;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  text-align: center;
}

#placeholder, .jqDropZone {
  /* dropzone styles */
  padding-top: 46vh;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  cursor: default;
}

#placeholder {
  color: #aaa;
}


/**
 * Drop zone
 */
.dropzone-wrapper {
  display:none;
}
.dropzone-wrapper.drag, .dropzone-wrapper.empty {
  display:block;
  opacity:.5;
}

.dropzone-wrapper.drag .jqDropZone {
  /*display:block;*/
}

.jqDropZone {
  z-index: 9999;
  position:fixed;
  /*display:none;*/
  /*width:100%;*/
  /*height:100%;*/
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*opacity:0;*/
  color: #666;
}
.jqDropZone.in {
  opacity:.5;
}
.jqDropZone.hover {
  /*background: lawngreen;*/
  background-color: #eee;
  /*opacity:.8;*/
  /*color: #fff;*/
  /*color: #000;*/
}
.jqDropZone.fade {
  /*-webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;*/
  /*opacity: 1;*/
}
